<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="tst_key" value="tst_value" />
        <add key="db1.database_type" value="MSSQL" />
        <add key="db2.database_type" value="MSSQL" />
        <add key="db1.connection_string" value="Data Source=localhost;Integrated Security = true;Initial Catalog=Dummy" />
        <add key="db2.connection_string" value="Data Source=localhost;Integrated Security = true;Initial Catalog=Dummy" />
        <add key="db1.hostname" value="localhost" />
        <add key="db2.hostname" value="localhost" />
        <add key="db1.login" value="" />
        <add key="db2.login" value="" />
        <add key="db1.password" value="" />
        <add key="db2.password" value="" />
        <add key="db1.database" value="Dummy" />
        <add key="db2.database" value="Dummy" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
